p {
  line-height: 1.7;
}

    #content_main {
      margin-top: 2.0rem;
    }

    /*.tab-content {
      margin-top: 2.0rem;
    }

    .tab-content > .tab-pane > .container > .row > div > :first-child {
      margin-top: 0 !important;
    }*/

ul {
  list-style-type: none;
}

ul.no-padding {
  padding-left: 0;
}

.li li {
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {  
  .margin-top {
    margin-top: 2rem;
  }  
}

img {
  margin-bottom: 1rem;
}

@media (min-width:768px) {
  .bg-img {
    background-image: url(img/old-main.jpg);
    background-position: center 35%;
    padding: 40px;
  }
}

.uavitae {
  width: 10%;
}

.card-header {
  background-color: #ffffff;
}